
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Inventory Report", "Inventory", "Reports", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Sales Report", "Sales", "Reports", null, new { @class = "btn btn-primary" })
